body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}
h1{
    font-size: 60px;
    line-height: 10px;
}
h2{
    font-size: 30px;
    line-height: 10px;
    
}
.donate-button{
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px;
    font-weight: 700;

}
#top-banner-div{
    text-align: center;
    
}
.top-banner{
    background-image: url('images/donation7.jpg');
    background-repeat: no-repeat;
    background-size: 1440px;
     height: 550px;
    color: white;
    padding-top: 60px; 
}
.donate-amount{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
  
  }
  #donate-button-id{
    width: 180px;
   text-align: center;
   padding-top: 10px;
  }
#other-id{
    align-items: center;
    width: 500px;
    padding-left:400px
}
  .container {
    float: left;
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 650px;
    height: 200px;
   
    border:2px;
    padding-left:350px;
  }
  
  .select-amount {
    float: left;
    width: 90px;
    height: 50px;
    background-color: rgb(238, 241, 241);
    
    padding-top:16px ;
    border-style: solid;
    margin:1%;
    padding-left: 10px;
    padding-right: 10px;
  }
#set-color{
    background-color:#FF5959 ;
    border-color: tomato;

}

.donate-plan{
    text-align: center;
}

.plans-div {
    width:360px;
    height: 250px;
    float: left;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-left: 2%;
    margin:1%;
    text-align: left;
}
#food-div{
    background-color:#4F9DA6 ;
}
#shelter-div{
    background-color: #FF5959;
}
#education-div{
    background-color:wheat ;
}

.get-update-section{
    text-align: center;
    padding-top: 20px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  input[type=email]:focus {
    border: 3px solid #555;
    
  }
  input[type=email] {
    width: 275px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-color: #ccc;
    color: white;
  }
  #subscribe-button{
    width:157px ;
    height: 48px;
    border-radius: 4px ;

    font-weight: 700;
    color: white;
    background-color: #f54842;
    
  }
  .subscriber-div{
    width: 809px;;
    height: 120px;
    background-color: #FFF4D6;
    align-items: center;
    padding-top: 100px;

  }
  .subcribe-div-main{
        padding-left: 300px;
        padding-bottom: 30px;
  }

  .article-section-div{
    width: 50%;
  
    padding-top: 50px;
    padding-bottom: 10px;
}
.article-section-div img{
    width: 70%;
    ;
  
}
.article-section{
  float: left;
  padding-bottom: 10px;
}
.flex-div{
  display: flex;
  padding-left: 40px;
}
footer{
  padding-top:10px ;
  padding-bottom: 10px;
  text-align: center;
  background: fixed;
  background-color: black;
  color: white;
}